tr {
    display: flex;
    flex-direction: row;
    .tdI {
        display: flex;
        flex-grow: 1;
        input {
            font-size: 1.2rem;
            padding-left: 0.5rem;
            border-radius: 0;
            outline: none;
            border-top: none;
            border-right: none;
            flex-grow: 1;
        }
    }
    .tdB {
        flex-grow: 0;
        button {
            flex-grow: 0;
            font-size: 1.2rem;
            outline: none;
            border: none;
            background-color: #3D8BFD;
            border: 2px solid #000;
            border-top: none;
            color: #fff;
            &:hover {
                background-color: #0A58CA;
                cursor: pointer;
            }
        }
    }
}